{% extends 'shop/base.html' %}
{% block title%}| VibeMart{% endblock %}
{% block css %}
          .col-md-3
          {
          display: inline-block;
          margin-left:-4px;
          }

          .carousel-indicators .active {
          background-color: #6c757d;
            }
          .carousel-indicators li{
            background-color: whitesmoke;
          }  

          .col-md-3 img{

          max-width:250px;
          height:200px;
          }

          body .carousel-indicator li{
          background-color: blue;
          }

          body .carousel-indicators{
          bottom: -35px;
          }

          body .carousel-control-prev-icon,
          body .carousel-control-next-icon{
          background-color: blue;
          }
          .carousel-control-prev,
          .carousel-control-next{
          top: auto;
          bottom: auto;
          padding-top : 222px;
          }
           body .no-padding{
           padding-left: 0,
           padding-right: 0;
           }
           body .carousel-control-prev-icon, body .carousel-control-next-icon {
           background-color: green;
           border-radius:15px
          }
           .carousel-control-next-icon {
            background-image: url('/static/img/arrow_right.png');
            background-color: green;
        }
        .carousel-control-prev-icon {
          background-image: url('/static/img/arrow_left.png');
      }
 {% endblock %}

{% block body %}
{% load static %} 
<style>
  .add-cart{
    width: 160px;
    overflow: hidden;
    
  }

  .fa-shopping-cart {
  display: none;
  padding-right: 0px;
}

.cart:hover .fa-shopping-cart {
  display: inline-block;
  animation: moveIcon 0.5s forwards;
}

@keyframes moveIcon {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(-50%);
    opacity: 1;
  }
}

.cart:active {
  transform: scale(0.95);
  transition-duration: .5s;
}

</style>
<div class="container">

  <!--Slideshow starts here -->
  {% for product, range, nSlides in allProds %}
  <h5 class="my-4"><strong>{{product.0.category}}</strong></h5>
  <div class="row">
  <div id="demo{{forloop.counter}}" class="col carousel slide my-3" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#demo{{forloop.counter}}" data-slide-to="0" class="active"></li>

     {% for i in range %}
    <li data-target="#demo{{forloop.parentloop.counter}}" data-slide-to="{{i}}" ></li>
    {% endfor %}
  </ul>


  <div class="container carousel-inner no-padding">

    <div class="carousel-item active">


      {% for i in product %}
      <div class="col-xs-3 col-sm-3 col-md-3">
        <div class="card align-items-center" style="width: 18rem;">
          <img src='/media/{{i.image}}' class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title" id="namepr{{i.id}}">{{i.product_name}}</h5>            
            <p class="card-text">{{i.short_desc|slice:"0:50"}}...</p>
            <p class="card-text text-primary"><b>Rs: <span id="pricepr{{i.id}}">{{i.price}}</span></p>
            <span id="divpr{{i.id}}" class="divpr">
             
              <button id="pr{{i.id}}" class="btn btn-primary cart add-cart">
                <i class="fas fa-shopping-cart"></i>Add To Cart
              </button>
           
            </span>
            <a href="/shop/products/{{i.id}}">
              <button id="qv{{i.id}}" class="btn btn-primary cart">View</button>
            </a>          
          </div>
        </div>
      </div>
      {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
    </div><div class="carousel-item">
      {% endif %}

      {% endfor %}
  </div>



</div>
</div>
  <!-- left and right controls for the slide -->
  <a class="carousel-control-prev" href="#demo{{forloop.counter}}" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo{{forloop.counter}}" data-slide="next">
      <span class="carousel-control-next-icon"></span>
  </a>
      </div>
  {% endfor %}
</div>
{% endblock %}

{% block js %}

{% endblock %}